@define-color text #ffffff;
@define-color background #000000;
@define-color module-background #21222C;
@define-color accent #6272a4;
@define-color warning #FE8D59;
@define-color inactive #808080;
@define-color active #2E7D32;
@define-color urgent #B80F0A;

* {
	font-family: "JetBrainsMono Nerd Font", sans-serif;
	font-weight: bold;
  color: @text;
  font-size: 12px;
}

window#waybar {
  background: @background;
}

tooltip {
  background: rgba(0,0,0,0.8);
  opacity: 1;
}

#waybar {
  margin: 0 0;
}

.module {
  margin-right: 5px;
}

#taskbar button,
#workspaces button {
  border-radius: 0;
  padding: 0em 0em;
  margin: 0 0;
  min-width: 10px;
  min-height: 10px;
  border: none;
  border-top: 1px solid transparent;
}

#workspaces button label {
  color: @text;
}

#taskbar button.active,
#workspaces button.active {
  background: @background;
  border-top-color: @accent;
}

#workspaces button.active label {
  color: @accent;
  font-size: 14px;
}

#workspaces button.urgent label {
  color: @urgent;
  font-size: 14px;
}

#taskbar button.urgent,
#workspaces button.urgent,
#submap {
  border-top-color: @warning;
}

#custom-twitch {
  font-size: 14px;
  color: #A970FF;
}

#custom-windows.workspace-4 {
  color: @inactive;
  background-color: #252526;
  border-radius: 5px 5px 0 0;
  padding: 0 10px;
  font-weight:bold;
}

#custom-windows.single,
#custom-activewindowhidden,
#custom-activewindowfullscreen,
#custom-activewindowpinned {
  color: @accent;
}

#custom-updates.priority,
#custom-status.manual {
  color: @warning;
}

#custom-mic {
  color: @text;
  transition: color 0.2s steps(30);
}

#custom-mic.disabled {
  color: @urgent;
}

#custom-updates.disabled, 
#custom-twitch.disabled,
#custom-notifications.inactive {
  color: @inactive;
}

#custom-screencast {
  animation: pulseActiveColor 2s ease-in-out infinite;
  animation-timing-function: steps(30);
}

@keyframes pulseActiveColor {
  0%   { color: @text; }
  50%  { color: @active; }
  100% { color: @text; }
}

#custom-hyprlandsubmap {
  background: @urgent;
  color: @text;
  font-weight: bolder;
  border-radius: 5px;
  border: 2px solid @background;
}

#pulseaudio-slider {
    padding: 5px 0;
    margin: 0;
    margin-right: 5px;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 4px;
    border-radius: 5px;
    background-color: black;
}

#pulseaudio-slider highlight {
    min-width: 4px;
    border-radius: 5px;
    background-color: @accent;
}

